{% extends "base.html" %}

<!-- Title -->
{% block title %}MILIKITA | REVIEW{% endblock %}

<!-- Style Internal -->
{% block style %}
<style>
  .addReview {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .isi {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #cbcbcb;
  }
  .mb-2 {
    width: 70%;
  }
  .img-floating {
    width: 250px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .img-floating:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
  }
</style>
{% endblock %}

<!-- Main Konten -->
{% block content %}
<!-- Judul -->
<div class="d-flex justify-content-center">
  <h1 class="judul"><strong>New Review</strong></h1>
</div>

<div class="addReview">
  <div class="image text-center">
    <img class="img-floating" src="{{ menu.gambar_menu }}" alt="{{ menu.nama_menu }}" />
    <h2 style="margin-top: 30px">ID{{ menu.id_menu }} <strong>{{ menu.nama_menu }}</strong></h2>
    <h4>{{ menu.kategori_menu }}</h4>
  </div>
  <form action="/createReview/menu/{{menu.id_menu}}" method="post">
    <div class="mb-2">
      <label>Review</label>
      <input class="isi" type="text" class="form-control" name="pesan_review" style="width: 700px" />
    </div>

    <div class="mb-2">
      <label>Store</label>
      {% if cabangs %}
      <select class="isi form-select" aria-label="Default select example" name="id_cabang" style="width: 700px">
        <option selected value="">Select Store</option>
        {% for cabang in cabangs %}
        <option value="{{cabang.id_cabang}}">{{cabang.nama_cabang}} {{cabang.id_cabang}}</option>
        {% endfor %}
      </select>
      {% else %}
      <select class="form-select" aria-label="Disabled select example" disabled>
        <option selected>There are no store in database</option>
      </select>
      {% endif %}
    </div>

    <div class="mb-2">
      <label>Menu</label>
      <p class="isi" style="width: 700px">{{menu.nama_menu}}</p>
    </div>

    <div class="mb-2">
      <label>Rating</label>
      <select class="isi form-select" aria-label="Default select example" name="bintang_review" style="width: 700px">
        <option selected value="">Give this menu a rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <button type="submit" class="btn" style="background-color: #846d4c; color: white; width: 150px; margin-top: 20px">Add Review</button>
    
  </form>
</div>
{% endblock %}
