{% extends "base.html" %}

<!-- Title -->
{% block title %}MILIKITA | CABANG{% endblock %}

<!-- Style Internal -->
{% block style %}
<style>
  .detailCabang {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .isi {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #cbcbcb;
  }
  .mb-2 {
    width: 70%;
  }
  .officer-card {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .table-floating {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .table-floating:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  .img-floating {
    width: 250px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .img-floating:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
  }
</style>
{% endblock %}

<!-- Main Konten -->
{% block content %}
<!-- Judul -->
<div class="d-flex justify-content-center">
  <h1 class="judul"><strong>Detail Store</strong></h1>
</div>

<!-- Informasi Detail Cabang -->
<div class="detailCabang">
  <div class="image text-center">
    <img class="img-floating" src="{{ cabang.gambar_cabang }}" alt="{{ cabang.nama_cabang }}" />
    <h2 style="margin-top: 30px">ID{{ cabang.id_cabang }} <strong>{{ cabang.nama_cabang }}</strong></h2>
    <h3>{{ cabang.kota_cabang }}</h3>
  </div>

  <div class="mb-2">
    <label>Location</label>
    <p class="isi">{{ cabang.alamat_cabang }}</p>
  </div>

  <div>
    <a href="" class="btn" style="background-color: black; color: white; width: 150px">Edit</a>
    <a href="" class="btn btn-danger px-5">Delete</a>
  </div>

  <!-- Tabel karyawan -->
  <div class="mb-2 mt-3">
    <h3 style="text-align: center; margin-top: 30px"><strong>List Officer</strong></h3>
    {% if karyawans %}
    <table class="table table-striped table-floating">
      <thead>
        <tr class="table-dark">
          <th class="text-center" scope="col">ID</th>
          <th class="text-center" scope="col">Officer</th>
          <th class="text-center" scope="col">Employee Position</th>
          <th class="text-center" scope="col">Phone number</th>
        </tr>
      </thead>
      <tbody>
        {% for karyawan in karyawans %}
        <tr>
          <td class="text-center">{{ karyawan.id_karyawan }}</td>
          <td class="text-center"><img src="{{ karyawan.gambar_karyawan }}" alt="{{ karyawan.nama_karyawan }}" width="100px" style="margin-right: 20px" /> {{ karyawan.nama_karyawan }}</td>
          <td class="text-center">{{ karyawan.posisi_karyawan }}</td>
          <td class="text-center">{{ karyawan.telp_karyawan }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p style="text-align: center; margin-top: 30px">There are no officers at this store</p>
    {% endif %}
  </div>

  <!-- Review by Menu pada Cabang -->
  <div class="mb-2 mt-3">
    <h3 style="text-align: center; margin-bottom: 20px"><strong>Reviews by Menus</strong></h3>
    {% if grouped_reviews %} {% for menu, reviews in grouped_reviews.items() %}
    <a href=""><h5><strong>{{ menu }}</strong></h5></a>
    {% for review in reviews %}
    <div style="display: flex; justify-content: space-between">
      <a href="" style="width: 90%"><div class="card p-2 mb-2 officer-card">{{ review.pesan_review }}</div></a>
      <a href="" style="width: 10%"><div class="card p-2 mb-2 officer-card" style="text-align: center">{{ review.bintang_review }}⭐</div></a>
    </div>
    {% endfor %} {% endfor %} {% else %}
    <p style="text-align: center; margin-top: 30px">There are no menu reviews at this store yet</p>
    {% endif %}
  </div>
</div>
{% endblock %}
