{% extends "base.html" %}

<!-- Title -->
{% block title %}MILIKITA | STORE{% endblock %}

<!-- Style Internal -->
{% block style %}
<style>
  .editCabang {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-floating {
    width: 250px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .img-floating:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  .isi {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #cbcbcb;
  }
  .mb-2 {
    width: 70%;
  }
</style>
{% endblock %}

<!-- Main Konten -->
{% block content %}
<!-- Judul -->
<div class="d-flex justify-content-center">
  <h1 class="judul"><strong>Edit Store</strong></h1>
</div>

<div class="editCabang">
  <div class="image text-center" style="margin-bottom: 30px;;">
    <img class="img-floating" src="{{ cabang.gambar_cabang }}" alt="{{ cabang.nama_cabang }}" />
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center">
      <form action="/editCabang/{{ cabang.id_cabang }}"  method="post">
        <div class="mb-2">
          <label>Store Name</label>
          <input class="isi" type="text" class="form-control" name="nama_cabang" value="{{ cabang.nama_cabang }}" style="width: 700px;"/>
        </div>
    
        <div class="mb-2">
          <label>Store Location</label>
          <input class="isi" type="text" class="form-control" name="alamat_cabang" value="{{ cabang.alamat_cabang }}" style="width: 700px;"/>
        </div>
    
        <div class="mb-2">
          <label>City</label>
          <select class="isi form-select" aria-label="Default select example" name="kota_cabang" style="width: 700px;">
            <option selected value="{{ cabang.kota_cabang }}">{{ cabang.kota_cabang }}</option>
            <option value="Bandung">Bandung</option>
            <option value="Sukabumi">Sukabumi</option>
            <option value="Ciamis">Ciamis</option>
            <option value="Tangerang">Tangerang</option>
          </select>
        </div>
    
        <div class="mb-2">
          <label>Contact Store</label>
          <input class="isi" type="number  " class="form-control" name="telp_cabang" value="{{ cabang.telp_cabang }}" style="width: 700px;"/>
        </div>
    
        <div class="mb-2">
          <label>Image Store</label>
          <input class="isi" type="text" class="form-control" name="gambar_cabang" value="{{ cabang.gambar_cabang }}" style="width: 700px;"/>
          <div id="gambarHelp" class="form-text">Enter the link of your image!</div>
        </div>
    
        <button type="submit" class="btn" style="background-color: #846d4c; color: white; width: 150px; margin-top: 20px;">Edit Store</button>

      </form>
  </div>
</div>
{% endblock %}
