<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    {% block style %}
    <!-- Internal style -->
    {% endblock %}
  </head>
  
  <body>

    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-lg position-relative">
        <div class="container-fluid">
          <h1 class="navbar-brand">MiliKita</h1>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a aria-current="page" href="/menusMilikita">MENU</a>
            </li>
            <li class="nav-item">
              <a aria-current="page" href="/karyawankita">OFFICER</a>
            </li>
            <li class="nav-item">
              <a aria-current="page" href="/">STORE</a>
            </li>
            <li class="nav-item">
              <a aria-current="page" href="">REVIEW</a>
            </li>
            <li class="nav-item">
              <a aria-current="page" href="">AKTIVITAS USER</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {% block content %}
      <!-- Main Konten -->
      <div class="d-flex justify-content-center">
        <h1 class="judul"><strong>List Store</strong></h1>
      </div>

      <div class="mt-2 d-flex justify-content-center" style="width: 250px; margin-left:70px;">
        <span class="input-group-text" style="border-radius: 0px;">Category</span>
        <select name="kategori" class="form-select" aria-label="Default select example" style="border-radius: 0px;">
            <option selected value="Semua">All</option>
            <option value="Bandung">Bandung</option>
            <option value="Ciamis">Ciamis</option>
            <option value="Tangerang">Tangerang</option>
            <option value="Sukabumi">Sukabumi</option>
        </select>
    </div>
  </form>
  </div>
  <div class="menu-container">
    {% for cabang in listCabang %}
    <div class="menu-item">
      <img src="{{ cabang.gambar_cabang}}" alt="{{ cabang.nama_cabang }}" />
      <div class="content">
        <h5>{{ cabang.nama_cabang }}</h5>
        <p>{{ cabang.kota_cabang }}</p>
        <a href="#" class="detail-button">DETAIL</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="add-new-button">
    <button>Add New Store</button>
  </div>

      {% endblock %}
    </main>

  </body>
</html>
