{% extends "base.html" %}

<!-- Title -->
{% block title %}MILIKITA | OFFICER{% endblock %}

<!-- Style Internal -->
{% block style %}
<style>
  .addKaryawan {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .isi {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #cbcbcb;
  }
  .mb-2 {
    width: 70%;
  }
</style>
{% endblock %}

<!-- Main Konten -->
{% block content %}
<!-- Judul -->
<div class="d-flex justify-content-center">
  <h1 class="judul"><strong>New Officer</strong></h1>
</div>

<div class="addKaryawan">
    <form action="/createOfficer/cabang/{{cabang.id_cabang}}" method="post">
      <div class="mb-2">
        <label>Officer Name</label>
        <input class="isi" type="text" class="form-control" name="nama_karyawan" style="width: 700px;"/>
      </div>
  
      <div class="mb-2">
        <label>Store</label>
        <p class="isi" style="width: 700px">{{cabang.nama_cabang}}</p>
      </div>
  
      <div class="mb-2">
        <label>Specialist</label>
        <select class="isi form-select" aria-label="Default select example" name="posisi_karyawan" style="width: 700px">
          <option selected value="">Select Specialist</option>
          <option value="barista">Barista</option>
          <option value="chef">Chef</option>
          <option value="bakery">Bakery</option>
          <option value="owner">Owner</option>
        </select>
      </div>
  
      <div class="mb-2">
        <label>Contact Officer</label>
        <input class="isi" type="number" class="form-control" name="telp_karyawan" style="width: 700px;"/>
      </div>
  
      <div class="mb-2">
        <label>Image Officer</label>
        <input class="isi" type="text" class="form-control" name="gambar_karyawan" style="width: 700px;"/>
        <div id="gambarHelp" class="form-text">Enter the link of your image!</div>
      </div>
  
      <button type="submit" class="btn" style="background-color: #846d4c; color: white; width: 150px; margin-top: 20px;">Add Officer</button>
    </form>
</div>
{% endblock %}
