{% extends "base.html" %}

<!-- Title -->
{% block title %}MILIKITA | KARYAWAN{% endblock %}

<!-- Style Internal -->
{% block style %}
    <style>
        .detailkaryawan {
            width: 70%;
            margin: 0 auto;
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .isi {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-sizing: border-box;
            background-color: #cbcbcb;
        }
        .mb-2 {
            width: 70%;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .table-floating {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .table-floating:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
        }
        .img-floating {
            width: 250px;
            height: 300px;
            object-fit: cover;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .img-floating:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}

<!-- main content -->
{% block content %}
<!-- Judul -->

<div class="d-flex justify-content-center">
    <h1 class="judul"><strong>Detail Officer</strong></h1>
</div>

<!-- Detail Karyawan -->

<div class="detailkaryawan">
    <div class="image text-center">
        <img class="img-floating" src="{{ Karyawan.gambar_karyawan }}" alt="{{ Karyawan.nama_karyawan }}"/>
        <h2 style="margin-top: 30px">ID {{ Karyawan.id_karyawan }}</h2>
        <h3><strong>{{Karyawan.nama_karyawan }}</strong></h3>
    </div>
    <div class="mb-2">
        <label>ID Cabang</label>
        <p class="isi">{{ Karyawan.id_cabang }}</p>
    </div>

    <div class="mb-2">
        <label>Position</label>
        <p class="isi">{{ Karyawan.posisi_karyawan }}</p>
    </div>
    <div class="mb-2">
        <label>Phone Number</label>
        <p class="isi">{{ Karyawan.telp_karyawan }}</p>
    </div>

    <div>
        <a href="/editKaryawan{{Karyawan.id_karyawan}}" class="btn" style="background-color: black; color: white; width: 150px">Edit</a>
        <a href="/deleteKaryawan {{Karyawan.id_karyawan}}" class="btn btn-danger px-5">Delete</a>
    </div>
</div> 




{% endblock %}