{% extends "base.html" %}

<!-- Title -->
{% block title %}MILIKITA | MENU{% endblock %}

<!-- Style Internal -->
{% block style %}
<style>
  .form-container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-label {
    color: #343a40;
  }
  .form-title {
    color: #343a40;
    margin-bottom: 1rem;
  }
  .form-control {
    background-color: #f0f0f0;
    color: #000000;
    border-radius: 8px;
  }
  .form-control::placeholder {
    color: #6c757d;
  }
</style>
{% endblock %}
<div class="search-container">
  <input type="text" placeholder="Search">
  <select>
      <option value="all">All</option>
      <option value="bakery">Bakery</option>
        <option value="barista">barista</option>
        <option value="chef">Chef</option>
        <option value="owner">Owner</option>
      </select>
  </select>
  <button>Search</button>
</div>

  <div class="menu-container">
    {% for karyawan in listKaryawan %}
    <div class="menu-item">
        <img src="{{ karyawan.gambar_karyawan}}" alt="{{ karyawan.nama_karyawan }}">
        <div class="content">
            <h5>{{ karyawan.nama_karyawan }}</h5>
            <p>{{ karyawan.posisi_karyawan }}</p>
            <a href="#" class="detail-button">DETAIL</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="add-new-button">
    <button>Add New Officer</button>
</div>
</body>
</html>