{% extends "base.html" %}

<!-- Title -->
{% block title %}MILIKITA | LIST MENU{% endblock %}

<!-- Style Internal -->
{% block style %}
<style>
    .listMenu {
        width: 70%;
        margin: 0 auto;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu-item {
        margin: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
    }
    .menu-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .menu-item .content {
        padding: 10px;
        text-align: center;
    }
    .menu-item .content h5, .menu-item .content p {
        margin: 10px 0;
    }
    .menu-item .content .btn {
        background-color: #846d4c;
        color: white;
        width: 150px;
        margin: 10px auto 0;
        padding: 10px;
        text-align: center;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
    }
    .menu-item .content .btn:hover {
        background-color: #705a3b;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .pagination a {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-decoration: none;
        color: black;
    }
    .pagination .active {
        background-color: #007bff;
        color: white;
        border: 1px solid #007bff;
    }
</style>
{% endblock %}

<!-- main content -->
{% block content %}
<!-- Judul -->

<div class="d-flex justify-content-center">
    <h1 class="judul"><strong>List Menu</strong></h1>
</div>

<!-- Informasi List Menu -->
<div class="listMenu">
    <div class="menu-container">
        {% for menu in listMenu %}
        <div class="menu-item">
            <img src="{{ menu.gambar_menu }}" alt="{{ menu.nama_menu }}">
            <div class="content">
                <h5>{{ menu.nama_menu }}</h5>
                <p>{{ menu.kategori_menu }}</p>
                <a href="#" class="btn">DETAIL</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
<div class="pagination">
    {{ pagination.links }}
</div>

<div class="add-new-button">
    <button>Add New Menu</button>
</div>

{% endblock %}
